<! DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Web Page #1</title>
    <script type="text/javascript" src="student.js"></script>
  </head>
  <body>
      <table style='width:100%' border='0'>
          <tr>
          <td style='width:30%;text-align:left' ><a href="Javascript:displayspecial()">Todays Special</a></td>
          <td style='width:40%;text-align:center' ><a href="Javascript:displaytype()">Display Message</a></td>
          <td style='width:30%;text-align:right' ><a href="Javascript:changetype()">Change Customer Type</a></td>
          </tr>
          </table>
    <h2>Lab 6 Assignment</h2>
    <button id="button" 
    type="button" 
    onclick="getBreaks()">Enter Number of Breaks</button>
    <p id="breaks"></p>
    <button id="button" 
    type="button" 
    onclick="getCards()">Enter Number of Cards</button>
    <p id="cards"></p>
    <br />

    <hr />  
    <h2>Lab 5 Assignment</h2>

    <button id="button" 
    type="button" 
    onclick="getName()">Enter Customer Name</button>
    <br />
    <p>Your name is: </p><p id="name"></p>
    <br />
    <button id="button" 
    type="button" 
    onclick="getAge()">Enter Customer Age</button>
    <br />
    <p>Your age is: </p><p id="age"></p>

    <hr />
    <h2>Lab 4 Assignment</h2>
      <a href="Javascript:changetype()">Change Customer Type</a>
      <br />
      <a href="Javascript:displaytype()">Display Message</a>

      <hr />
      

    <h2>Lab 3 Assignment</h2>
    <h3>Error Messages</h3>
    <ol>
    <li>{
        "message": "Unterminated string literal."
      }</li>
      <li>{
          "message": "',' expected."
        }</li>
        <li>{
            "message": "')' expected."
          }</li>
          <li>{
              "message": "',' expected."
            }</li>
            </ol>
            <a href="Javascript:displayspecial()">Todays Special</a>

    <hr />


    <h2>Lab 2 Assignment</h2>
    <a href="Javascript:displayInfo()">Web Page Information</a>

    <hr />

    <h2>Lab 1 Assignment</h2>

    <div class="links">
      <a href="Javascript:confirmlink('https://college1.com')">College1</a>
<br />
      <a href="Javascript:confirmlink('http://codyhillsart.x10host.com/')">My Page</a>
    </div>


  </body>

</html>