.App {
  text-align: center;
  background-image: linear-gradient(to bottom, #0574e0, #d810d3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 150px;
  border: 5px solid white
}

.App-header {
  background-image: url('80sbackground.jpg');
  background-color: #282c34;
  background-size: auto;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
